<!-- Footer -->
<footer class="footer-class">
  <div class="footer-container">
    <div class="focus-frame-zero">
      <p class="focus-frame-one">Focus.Frame</p>
      <!-- <li class=""> -->
      <a class="focus-frame-two" href="#" target="_blank">
        <svg class="" width="24" height="24">
          <use href="./img/"></use>
        </svg>
      </a>
      <!-- </li> -->
    </div>
    <div class="footer">
      <div class="footer-links">
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
        <a href="#">YouTube</a>
        <a href="#">Our Mentors</a>
        <a href="#">Reviews</a>
        <a href="#">Contacts</a>
        <a href="#">Privacy Policy</a>
      </div>
    </div>
    <div class="subscribe-one">
      <p class="subscribe-text">Subscribe</p>
      <form class="subscribe-form">
        <label class="subscribe-label">
          <input
            class="subscribe-input"
            type="email"
            name="email"
            placeholder="Enter your email"
            width="120"
            height="20"
          />
        </label>
        <button class="subscribe-button" type="submit">
          Go
          <svg class="subscribe-svg" width="60" height="60">
            <use href=""></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</footer>
