<header class="header">
  <div class="container">
    <nav class="header-nav">
      <div class="header-nav-container">
        <a href="./index.html" class="header-logo">
          <svg class="header-logo-icon" width="127" height="20">
            <use href="./img/icons.svg#logo"></use>
          </svg>
        </a>

        <a href="#sign-up" class="header-mob-btn">
          <svg class="header-mob-icon" width="16" height="16">
            <use href="./img/icons.svg#camera"></use>
          </svg>
        </a>

        <button type="button" class="header-burger" data-modal-open>
          <svg class="header-burger-icon" width="32" height="22">
            <use href="./img/icons.svg#mob-menu"></use>
          </svg>
        </button>

        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a href="#about-us" class="header-nav-link">About us</a>
          </li>

          <li class="header-nav-item">
            <a href="#our-courses" class="header-nav-link">Our courses</a>
          </li>

          <li class="header-nav-item">
            <a href="#our-mentors" class="header-nav-link">Our mentors</a>
          </li>

          <li class="header-nav-item">
            <a href="#reviews" class="header-nav-link">Reviews</a>
          </li>

          <li class="header-nav-item">
            <a href="#contacts" class="header-nav-link">Contacts</a>
          </li>
        </ul>
      </div>

      <a href="#sign-up" class="header-btn">Sign up</a>
    </nav>
  </div>
</header>
