<section class="hero-section" id="hero">
  <div class="container">
    <div class="hero-section-container">
      <div class="two-pictures">
        <div class="text-wrap">
          <h1 class="hero-title-h">
            Discover the magic of
            <span class="hero-title-span"> photography </span> in our school
          </h1>
          <p class="hero-title-p">
            Our photography school offers an unforgettable journey, where you
            can learn the basics of composition, master technical skills,
            translate your unique ideas.
          </p>
        </div>

        <div class="star-icon">
          <div class="photos">
            <div class="icon">
              <img
                class="icon-girl2"
                src="./img/hero/hero_students3.png"
                srcset="
                  ./img/hero/hero_students3_mob.png    1x,
                  ./img/hero/hero_students3_mob@2x.png 2x
                "
                alt="girl"
                width="54"
                height="54"
              />
              <img
                class="icon-boy1"
                src="./img/hero/hero_students2.png"
                srcset="
                  ./img/hero/hero_students2_mob.png    1x,
                  ./img/hero/hero_students2_mob@2x.png 2x
                "
                alt="boy"
                width="54"
                height="54"
              />
              <img
                class="icon-girl1"
                src="./img/hero/hero_students1.png"
                srcset="
                  ./img/hero/hero_students1.png    1x,
                  ./img/hero/hero_students1@2x.png 2x
                "
                alt="girl"
                width="54"
                height="54"
              />
            </div>
          </div>

          <a href="#reviews" class="hero-text-icon">
            Our happy students

            <svg class="hero-arrow" width="18" height="18">
              <use href="./img/icons.svg#arrow_to_right"></use>
            </svg>
          </a>

          <div class="star">
            <div class="hero-icon-star">
              <svg class="hero-star" width="20" height="20">
                <use href="./img/icons.svg#star"></use>
              </svg>
            </div>
            <div class="hero-text-p12">
              <p class="hero-text-star-p1">Reviews</p>
              <p class="hero-text-star-p2">+1500</p>
            </div>
          </div>
        </div>
      </div>

      <div class="hero-img-desktop">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hero/hero_man_desk.webp    1x,
              ./img/hero/hero_man_desk@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/hero/hero_man_desk.webp    1x,
              ./img/hero/hero_man_desk@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero/hero_man_tab.webp    1x,
              ./img/hero/hero_man_tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767.98px)"
            srcset="
              ./img/hero/hero_man_mob.webp    1x,
              ./img/hero/hero_man_mob@2x.webp 2x
            "
          />
          <img
            src="./img/hero/hero_man_desk.webp"
            alt="photographer"
            class="hero-img"
            width="259"
            height="314"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
