<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="../css/init.css" />
    <link rel="stylesheet" href="../css/our-courses.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;1,9..40,400&display=swap"
      rel="stylesheet"
    />
    <title>Our courses</title>
  </head>
  <body>
    <!-- Our courses -->
    <section class="course-section" id="our-coursers">
      <div class="container">
        <div class="course-title-wrap">
          <h2 class="course-title">
            Our <span class="course-span">Courses</span>
          </h2>
          <p class="course-text">
            At our photography school, we offer a variety of courses that cover
            all aspects of this fascinating art. Regardless of your experience
            or skill level, we have courses to suit your needs and goals.
          </p>
        </div>

        <ol class="course-list">
          <li class="course-list-item">
            <div class="course-card">
              <div class="course-box">
                <p class="course-box-number">01</p>
                <a
                  href="#sign-up"
                  class="course-box-link"
                  width="32"
                  height="32"
                >
                  <svg class="course-box-icon" width="20" height="20">
                    <use href="../img/icons.svg#arrow"></use>
                  </svg>
                </a>
              </div>
              <h3 class="course-box-title">Basics of photography</h3>
              <p class="course-box-text">
                During this course, you will be able to familiarize yourself
                with different types of cameras, learn the basics of
                composition.
              </p>
            </div>
          </li>

          <li class="course-list-item">
            <div class="course-card">
              <div class="course-box">
                <p class="course-box-number">02</p>
                <a
                  href="#sign-up"
                  class="course-box-link"
                  width="32"
                  height="32"
                >
                  <svg class="course-box-icon" width="20" height="20">
                    <use href="../img/icons.svg#arrow"></use>
                  </svg>
                </a>
              </div>
              <h3 class="course-box-title">Landscape photography</h3>
              <p class="course-box-text">
                In this course, you'll learn how to choose the right angles,
                frame landscapes, and create depth and perspective in your
                images.
              </p>
            </div>
          </li>

          <li class="course-list-item">
            <div class="course-card">
              <div class="course-box">
                <p class="course-box-number">03</p>
                <a
                  href="#sign-up"
                  class="course-box-link"
                  width="32"
                  height="32"
                >
                  <svg class="course-box-icon" width="20" height="20">
                    <use href="../img/icons.svg#arrow"></use>
                  </svg>
                </a>
              </div>
              <h3 class="course-box-title">Portrait photography</h3>
              <p class="course-box-text">
                During this course, you will learn to choose the right lighting,
                reproduce the mood and expressions on the faces of the models.
              </p>
            </div>
          </li>
        </ol>
      </div>
    </section>
  </body>
</html>
