<section class="our-mentors" id="our-mentors">
    <div class="container">
        <h2 class="mentors-title">Our <span class="accent">Mentors</span> </h2>
        <ul class="mentors-list">
            <li class="mentors-card">
                <img class="mentors-images" src="./img/our_mentors/mentors_emilia.webp"
                srcset="./img/our_mentors/mentors_emilia.webp 1x, ./img/our_mentors/mentors_emilia@2x.webp 2x"
                width="180" alt="Emilia Smith">
                <h3 class="mentors-name">Emilia Smith</h3>
                <p class="mentors-description">1.5 years of experience</p>
            </li>
            <li class="mentors-card">
                <img class="mentors-images" src="./img/our_mentors/mentors_alex.webp"
                srcset="./img/our_mentors/mentors_alex.webp 1x, ./img/our_mentors/mentors_alex@2x.webp 2x"
                width="180" alt="Alex Lebedev">
                <h3 class="mentors-name">Alex Lebedev</h3>
                <p class="mentors-description">3.5 years of experience</p>
            </li>
            <li class="mentors-card">
                <img class="mentors-images" src="./img/our_mentors/mentors_mia.webp"
                srcset="./img/our_mentors/mentors_mia.webp 1x, ./img/our_mentors/mentors_mia@2x.webp 2x"
                width="180" alt="Mia Dubrovska">
                <h3 class="mentors-name">Mia Dubrovska</h3>
                <p class="mentors-description">2.0 years of experience</p>
            </li>
            <li class="mentors-card">
                <img class="mentors-images" src="../img/our_mentors/mentors_eliot.webp"
                srcset="./img/our_mentors/mentors_eliot.webp 1x, ./img/our_mentors/mentors_eliot@2x.webp 2x"
                width="180" alt="Eliot Kovalev">
                <h3 class="mentors-name">Eliot Kovalev</h3>
                <p class="mentors-description">4.0 years of experience</p>
            </li>
        </ul>

    </div>

</section>