<section class="our-mentors" id="our-mentors">
    <div class="container">
        <h2 class="mentors-title">Our <span class="accent">Mentors</span> </h2>
        <ul class="mentors-list">
            <li class="mentors-card">
                <img src="" width="180" alt="Emilia Smith">
                <h3 class="mentors-name">Emilia Smith</h3>
                <p class="mentors-description">1.5 years of experience</p>
            </li>
            <li class="mentors-card">
                <img src="" width="180" alt="Alex Lebedev">
                <h3 class="mentors-name">Alex Lebedev</h3>
                <p class="mentors-description">3.5 years of experience</p>
            </li>
            <li class="mentors-card">
                <img src="" width="180" alt="Mia Dubrovska">
                <h3 class="mentors-name">Mia Dubrovska</h3>
                <p class="mentors-description">2.0 years of experience</p>
            </li>
            <li class="mentors-card">
                <img src="" width="180" alt="Eliot Kovalev">
                <h3 class="mentors-name">Eliot Kovalev</h3>
                <p class="mentors-description">4.0 years of experience</p>
            </li>
        </ul>

    </div>

</section>