<section class="reviews-section" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <div class="reviews-person">
          <img
            class="reviews-person-img"
            srcset="
              ./img/reviews/reviews_abraham.png    1x,
              ./img/reviews/reviews_abraham@2x.png 2x
            "
            src="./img/reviews/reviews_abraham@2x.png"
            alt="AbrahamBaker"
            width="56"
            height="56"
          />
          <div class="reviews-person-info">
            <h3 class="reviews-person-name">Abraham Baker</h3>
            <p class="reviews-person-position">Student</p>
          </div>
        </div>
        <ul class="reviews-star-list">
          <li>
            <svg class="reviews-svg-star" width="16" height="16">
              <use href="../img/icons.svg#review-star"></use>
            </svg>
          </li>
          <li>
            <svg class="reviews-svg-star" width="16" height="16">
              <use href="../img/icons.svg#review-star"></use>
            </svg>
          </li>
          <li>
            <svg class="reviews-svg-star" width="16" height="16">
              <use href="../img/icons.svg#review-star"></use>
            </svg>
          </li>
          <li>
            <svg class="reviews-svg-star" width="16" height="16">
              <use href="../img/icons.svg#review-star"></use>
            </svg>
          </li>
          <li>
            <svg class="reviews-svg-star-off" width="16" height="16">
              <use href="../img/icons.svg#review-star"></use>
            </svg>
          </li>
        </ul>
        <p class="reviews-text-p">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>
      <li class="reviews-list-item">
        <div class="reviews-person">
          <img
            class="reviews-person-img"
            srcset="
              ./img/reviews/reviews_amanda.png    1x,
              ./img/reviews/reviews_amanda@2x.png 2x
            "
            src="./img/reviews/reviews_amanda@2x.png"
            alt="AbrahamBaker"
            width="56"
            height="56"
          />
          <div class="reviews-person-info">
            <h3 class="reviews-person-name">Amanda Lowery</h3>
            <p class="reviews-person-position">Student</p>
          </div>
        </div>
        <ul class="reviews-star-list">
          <li>
            <svg class="reviews-svg-star" width="16" height="16">
              <use href="../img/icons.svg#review-star"></use>
            </svg>
          </li>
          <li>
            <svg class="reviews-svg-star" width="16" height="16">
              <use href="../img/icons.svg#review-star"></use>
            </svg>
          </li>
          <li>
            <svg class="reviews-svg-star" width="16" height="16">
              <use href="../img/icons.svg#review-star"></use>
            </svg>
          </li>
          <li>
            <svg class="reviews-svg-star" width="16" height="16">
              <use href="../img/icons.svg#review-star"></use>
            </svg>
          </li>
          <li>
            <svg class="reviews-svg-star-off" width="16" height="16">
              <use href="../img/icons.svg#review-star"></use>
            </svg>
          </li>
        </ul>
        <p class="reviews-text-p">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
      </li>
    </ul>
  </div>
</section>
