<section class="reviews-section" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li>
        <div class="reviews-card">
          <img
            class="reviews-img"
            src="./img/reviews/reviews_abraham@2x.png"
            alt="AbrahamBaker"
            width="56"
            height="56"
          />
          <div class="reviews-info">
            <h3 class="reviews-name">Abraham Baker</h3>
            <p class="reviews-text">Student</p>
          </div>
          <div>
            <ul class="reviews-star">
              <li>
                <svg class="svg-star" width="16" height="16">
                  <use href="../img/icons.svg#review-star"></use>
                </svg>
              </li>
              <li>
                <svg class="svg-star" width="16" height="16">
                  <use href="../img/icons.svg#review-star"></use>
                </svg>
              </li>
              <li>
                <svg class="svg-star" width="16" height="16">
                  <use href="../img/icons.svg#review-star"></use>
                </svg>
              </li>
              <li>
                <svg class="svg-star" width="16" height="16">
                  <use href="../img/icons.svg#review-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../img/icons.svg#star"></use>
                </svg>
              </li>
            </ul>
          </div>
          <p class="reviews-text-p">
            I am very pleased that I decided to enroll in photography school.
            The teachers turned out to be very talented and experienced
            professionals who share their knowledge and are dedicated to their
            work. I was able to expand my skills and discover my own style.
          </p>
        </div>
      </li>
    </ul>

    <ul class="reviews-list">
      <div class="reviews-card">
        <div class="reviews-img">
          <img
            class="reviews-icon"
            src="./img/reviews/reviews_amanda@2x.png"
            alt="AmandaLowery"
            width="56"
            height="56"
          />
        </div>
        <div class="reviews-info">
          <h3 class="reviews-name">Amanda Lowery</h3>
          <p class="reviews-text">Student</p>
        </div>
        <div>
          <ul class="reviews-star">
            <li>
              <a href="#">
                <svg class="svg-star" width="16" height="16">
                  <use href="../img/icons.svg#review-star"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="">
                <svg class="svg-star" width="16" height="16">
                  <use href="../img/icons.svg#review-star"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="">
                <svg class="svg-star" width="16" height="16">
                  <use href="../img/icons.svg#review-star"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="">
                <svg class="svg-star" width="16" height="16">
                  <use href="../img/icons.svg#review-star"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="">
                <svg width="16" height="16">
                  <use href="../img/icons.svg#star"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <p class="reviews-text-p">
            The courses at the photography school exceeded all my expectations.
            I gained not only technical knowledge, but also inspiration and
            motivation to reach new heights in my creativity. Hands-on classes
            and workshops helped me understand different styles of photography.
          </p>
        </div>
      </div>
    </ul>
  </div>
</section>
