<section class="signup-section" id="signup-section">
  <div class="container">
    <div class="signup-form-box">
      <h2 class="signup-title">Sign <span class="signup-title color-accent">Up</span></h2>
      <p class="signup-note">Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.</p>
      <form action="#" class="signup-form" name="signup-form">
        <label class="input-label">
          <input class="input-text" type="text" name="user-name" id="user-name" placeholder="Enter your name">
        </label>
        <label class="input-label">
          <input class="input-text" type="text" name="user-emeil" id="user-emeil" placeholder="Enter your email">
        </label>
        <label class="input-label">
          <textarea class="input-textarea" name="user-message" id="user-message" placeholder="Message"></textarea>
        </label>
        <button class="form-btn" type="submit" value="submit">Send</button>
      </form>
      <p class="signup-policy">
        By clicking on “Send” button, you agree to our <a href="#" class="signup-policy-link">Privacy Policy,</a>
        <br/>and allow Promodo to use this information for marketing purposes.
      </p>
    </div>
    <div class="signup-images-box">
        <div class="lens-place">
          <picture>
            <source media="(min-width: 1280px)" srcset="./img/signup/lens_desk.webp 1x, ./img/signup/lens_desk@2x.webp 2x">
            <source media="(min-width: 1440px)" srcset="./img/signup/lens_desk2.webp 1x, ./img/signup/lens_desk2@2x.webp 2x">
            <img class="lens-image" src="./img/signup/lens_desk.webp" alt="Lens" width="180">
          </picture>
        </div>
        <div class="camera-place">
          <picture>
            <source media="(min-width: 1280px)" srcset="./img/signup/camera_desk.webp 1x, ./img/signup/camera_desk@2x.webp 2x">
            <source media="(min-width: 1440px)" srcset="./img/signup/camera_desk2.webp 1x, ./img/signup/camera_desk2@2x.webp 2x">
            <img class="camera-image" src="./img/signup/camera_desk2.webp" alt="Camera" width="240">
          </picture>
        </div>
    </div>
  </div>
</section>