.container-about {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 335px;
  height: 630px;
  margin-top: 1099px;
  margin-bottom: 4324px;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .container-about {
    gap: 50px;
    height: 734px;
    width: 704px;
    margin-top: 1318px;
    margin-bottom: 3459px;
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .container-about {
    gap: 50px;
    height: 364px;
    width: 1080px;
    margin-top: 1172px;
    margin-bottom: 2915px;
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .container-about {
    margin-bottom: 2875px;
    height: 344px;
    width: 1240px;
  }
}
.title {
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.12px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -1.92px;
  }
}

.title-span {
  color: #bea69e;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.12px;
}
.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .block {
    gap: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .block {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .block {
    gap: 50px;
  }
}

.container-img {
  width: 335px;
}
@media screen and (min-width: 768px) {
  .container-img {
    width: 704px;
    height: 340px;
  }
}
@media screen and (min-width: 1280px) {
  .container-img {
    width: 488px;
    height: 260px;
  }
}
@media screen and (min-width: 1440px) {
  .container-img {
    height: 240px;
    width: 560px;
  }
}

.text-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .text-ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .text-ul {
    gap: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .text-ul {
    gap: 40px;
  }
}
.text-two {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  width: 335px;
  height: 127px;
}
@media screen and (min-width: 768px) {
  .text-two {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    width: 280px;
    height: 215px;
  }
}
@media screen and (min-width: 1280px) {
  .text-two {
    width: 264px;
  }
}
@media screen and (min-width: 1440px) {
  .text-two {
    width: 276px;
  }
}

.text-one {
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  width: 335px;
}
@media screen and (min-width: 768px) {
  .text-one {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    width: 280px;
    height: 240px;
  }
}
@media screen and (min-width: 1280px) {
  .text-one {
    width: 268px;
    height: 260px;
  }
}
@media screen and (min-width: 1440px) {
  .text-one {
    width: 314px;
    height: 220px;
  }
}
