.footer-class {
  margin-top: 40px;
  margin-bottom: 20px;
}
.container {
  outline: 2px solid tomato;
  outline-offset: -2px;
}

.footer-logo-link {
  margin-bottom: 10px;
  display: block;
}

.footer-logo {
  /* padding-bottom: 16px;
  display: inline; */
  fill: var(--c-main);
}

.contacts-container {
  width: 100%;
  height: 46px;
  margin-bottom: 40px;
}

.contacts-type-zero {
  margin-bottom: 10px;
}

.contacts-type {
  --c-main: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28px;
  text-transform: uppercase;
}
.contacts-type-two {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28px;
  padding-bottom: 10px;
}
.contacts-type-one {
  --c-main: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28px;
}

.footer-block {
  display: flex;
  width: 100%;
  height: 146px;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  gap: 40px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.footer-block a {
  color: #fff;
}

.footer-social-networks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.footer-social-networks-three {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.footer-social-networks {
  float: left;
  width: 77px;
  --c-main: #fff;
}

.footer-social-networks-three {
  float: right;
  --c-main: #fff;
}

.subscribe-label {
  display: flex;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12px;
  fill: var(--c-main);
  padding-right: 8px;
}

.subscribe-button {
  width: 100%;
  border-radius: 12px;
  background: #1d1d1d;
}

.inner-go {
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  width: 24px;
  height: 27px;
}

.subscribe-one {
  display: flex;
  padding-bottom: 40px;
}

.subscribe-one {
  width: 100%;
  max-width: 100%;
}

.subscribe-form {
  width: 100%;
}

.subscribe-input {
  width: 267px;
}

.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts-type-five {
  --c-main: #fff;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
}

.privacy-container {
  width: 147px;
  color: var(--c-main);
  font-size: 12px;
  line-height: 1.33;
}

.all-rights-container {
  width: 116px;
  color: var(--c-main);
  font-size: 12px;
  line-height: 1.33;
}

.privacy-all-rights {
  display: flex;
  justify-content: space-between;
}
/* @media screen and (min-width: 320px) */
.footer-class {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../img/footer/footer_bg_mob.png');
}

.footer-class {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../img/footer/footer_bg_mob@2x.png');
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer-class {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/footer/footer_bg_tab.png');
  }

  .footer-class {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/footer/footer_bg_tab@2x.png');
  }
  .footer-class {
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .footer-logo {
    padding-bottom: 25px;
  }

  .footer-block {
    display: flex;
    /* align-items: center; */
    gap: 25px;
  }

  .footer-social-networks {
    float: none;
  }

  .footer-social-networks-three {
    float: none;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .footer-class {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/footer/footer_bg_desk.png');
  }

  .footer-class {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/footer/footer_bg_desk@2x.png');
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .footer-class {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/footer/footer_bg_desk2.png');
  }

  .footer-class {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/footer/footer_bg_desk2@2x.png');
  }
}
