/* Reset styles */
:root {
  --c-main: #FFF;
  --c-main-tr: rgba(255, 255, 255, 0.50);
  --cb-main: #121212;
  --c-accent: #BEA69E;
  --cb-hero: #1D1D1D;
  --ff-main: 'DM Sans', sans-serif;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}
input,textarea {
  font-family: inherit;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  padding: 0;
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--c-main);
  background-color: var(--cb-main);
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
  /* overflow-x: auto; */
  /* Temp  */
  /* outline: 2px solid tomato;
  outline-offset: -2px; */
}

@media screen and (min-width: 768px) {
  .container {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
      max-width: 1280px;
      padding-left: 100px;
      padding-right: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
      max-width: 1440px;
  }
}