.course-section {
    max-width: 320px;
    padding-top: 40px; 
    padding-bottom: 40px;
    margin: 0 auto;
}

.course-title-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    min-width: 100%;
}

.course-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    text-align: left;
    color: var(--c-main-);
}

.course-span {
    color: var(--c-accent);
}


.course-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.05em;
    text-align: left;
}


.course-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.course-list-item {

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    width: 295px;
    height: 398px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.2));
}


.course-card {
    width: 100%;
    margin-top: 28px;
}


.course-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.course-box-number {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 0.4);
    margin: 0 28px;
}

.course-box-link {
    background-color: var(--cb-hero);
    border: 1px solid inherit;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 28px;
}

.course-box-icon {
    fill: #777777;
    margin: 6px;
}

.course-box-link .course-box-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.course-box-link:hover,
.course-box-link:focus {
    border: none;
    background-color: var(--c-accent);
}

.course-box-link:hover .course-box-icon,
.course-box-link:focus .course-box-icon {
    fill: var(--c-main);
}


.course-box-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0em;
    text-align: left;
    color: var(--c-main-);
    margin: 28px 0 164px 28px; 
}


.course-box-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.08em;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 28px 28px 28px;
    max-width: 279px;
}



@media screen and (min-width: 768px) {
    .course-section {
        max-width: 768px;
    }

    .course-title-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 50px;

    }

    .course-title {
        font-size: 48px;
        min-width: 265px;
    }

    .course-title-span {
        padding-right: 58px;
    }

    .course-text {
        max-width: 381px;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
    }

    .course-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .course-list-item {
        width: calc((100% - 20px) / 2);
        width: 342px;
        height: 452px;
    }

    .course-box-number {
        margin: 0 32px;
    }
    .course-box-link{
        margin-right: 32px;
    }

    .course-box-title{
        max-width: 265px;
        margin-bottom: 180px;
    }

    .course-box-text{
        margin: 0 32px 32px 32px;
        font-size: 16px;
        max-width: 278px;
        letter-spacing: -0.02em;
    } 
}


@media screen and (min-width: 1280px) {
    .course-section {
        max-width: 1280px;
    }

    .course-title-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .course-title-span {
        padding-right: 58px;
    }

    .course-text {
        max-width: 405px;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
    }

    .course-list-item {
        width: calc((100% - 40px) / 3);
    }

    .course-box-text{
        max-width: 283px;
        letter-spacing: -0.03em;
    }   
}



@media screen and (min-width: 1440px) {
    .course-section {
        max-width: 1440px;
    }

    .course-list-item{
        width: 400px;
        height: 452px;
    }
    
    .course-text {
        max-width: 565px;
    }

    .course-box-title {
        margin-bottom: 200px;
        }
    
     .course-box-text {
        max-width: 336px;
    } 
}