.signup-section {
  padding: 40px 0;
}

.signup-form-box {
  max-width: 374px;
}
.signup-title {
  color: var(--c-main);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}
.signup-title.color-accent {
  color: var(--c-accent);
}
.signup-note {
  max-width: 295px;
  color: var(--c-main);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}
.input-label {
}
.input-text {
  width: 100%;
  height: 46px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background-color: transparent;
  outline: transparent;
  padding: 14px 18px;
}

.input-textarea {
  width: 100%;
  height: 112px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 14px 18px;
}
.input-text::placeholder,
.input-textarea::placeholder {
  color: var(--c-main);
  font-size: 14px;
  line-height: 1.28;
  opacity: 0.7;
}
.form-btn {
  width: 100%;
  border-radius: 12px;
  border: none;
  outline: none;
  text-align: center;
  color: var(--cb-main);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  background: var(--c-main);
  margin-top: 40px;
  padding: 14px 0;
}
.signup-policy {
  color: var(--c-main-tr);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
}
.signup-policy-link {
  color: var(--c-main-tr);
  font-size: 12px;
  line-height: 1.33;
  text-decoration-line: underline;
}
.signup-images-box {
  width: 540px;
  height: 540px;
  display: none;
}
.lens-place {
  width: 180px;
  height: 288px;
  border-radius: 1000px;
  background-color: var(--c-accent);
}
/* .lens-image {

} */
.camera-place {
  width: 340px;
  height: 100%;
  border-radius: 1000px;
  background: var(--cb-hero);
  /* padding: 156px 50px 88px; */
}

@media screen and (min-width: 768px) {
  .signup-section .container {
    max-width: 768px;
  }
  .signup-form-box {
    max-width: 480px;
  }
  .signup-title {
    font-size: 48px;
    line-height: 1.12;
    letter-spacing: -0.04em;
  }
  .signup-note {
    max-width: 100%;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
  .input-text {
    height: 60px;
  }
  .input-textarea {
    height: 120px;
  }
  .input-text::placeholder,
  .input-textarea::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
  .form-btn {
    font-size: 18px;
    line-height: 1.55;
    padding: 16px 0;
  }
  .signup-policy {
    font-size: 14px;
    line-height: 1.28;
  }

}

@media screen and (min-width: 1280px) {
  .signup-section .container {
    max-width: 1280px;
    display: flex;
    gap: 60px;
  }
  .signup-images-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
  }
  .lens-place {
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 180%;
    background-position-y: 75%;
    background-image: url("../img/signup/lens_desk.webp");
  }
  .camera-place {
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 55%;
    background-position-y: 63%;
    background-image: url("../img/signup/camera_desk.webp");
  }
}
@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .lens-place {
    background-size: 120%;
    background-position-x: 140%;
    background-position-y: 80%;
    background-image: url("../img/signup/lens_desk@2x.webp");
  }
  .camera-place {
    background-size: 70%;
    background-position-x: 55%;
    background-position-y: 63%;
    background-image: url("../img/signup/camera_desk@2x.webp");
  }
}
@media screen and (min-width: 1440px) {
  .signup-section .container {
    max-width: 1440px;
    gap: 200px;
  }
  .signup-images-box {
    width: 560px;
  }
  .lens-place {
    width: 190px;
    background-size: auto;
    background-position-x: 180%;
    background-position-y: 85%;
    background-image: url("../img/signup/lens_desk2.webp");
  }
  .camera-place {
    width: 350px;
    background-size: auto;
    background-position-x: 55%;
    background-position-y: 63%;
    background-image: url("../img/signup/camera_desk2.webp");
  }
}
@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .lens-place {
    background-size: 120%;
    background-position-x: 140%;
    background-position-y: 90%;
    background-image: url("../img/signup/lens_desk2@2x.webp");
  }
  .camera-place {
    background-size: 70%;
    background-position-x: 55%;
    background-position-y: 63%;
    background-image: url("../img/signup/camera_desk2@2x.webp");
  }
}